<!DOCTYPE HTML>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <title>Global Steel Suppliers & Manufacturers | Mining - Tata Group</title>
      <!-- jQuery -->
      <!-- <script src="js/jquery-2.2.4.min.js"></script>
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
      <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script> -->
      <!--product thumbelina-->
      <!-- <script src="js/thumbelina.js"></script>
      <script src="js/product-carousel.js"></script> -->
      <!--date picker-->
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="js/customs.js" type="text/javascript"></script>
      <link href="css/style.css" rel="stylesheet" type="text/css"/>
      <link href="css/responsive.css" rel="stylesheet" type="text/css"/> -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <style type="text/css">
         /* ============ only desktop view ============ */
         @media all and (min-width: 992px) {
         .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
         .navbar .nav-item:hover .nav-link{ color: #fff;  }
         .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
         .navbar .dropdown-menu.fade-up{ top:180%;  }
         .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
         }  
         /* ============ desktop view .end// ============ */
      </style>
   </head>
   <body>
      <header class="header_sec">
         <div class="header_top">
            <div class="container">
               <div class="header_top_inr">
                  <ul>
                     <li>
                        <a href="#" class="shopcut"> <img src="assets/images/cuticon.png" alt=""> <span class="noti">3</span> </a>
                        <div class="shopcutBx">
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product2.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product1.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product3.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="cutview_btn">
                              <ul>
                                 <li><a href="#url" class="sign_btn">View Cart</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="hedTopBtn"> <a href="#url" class="sign_btn">Contact</a> <a href="#url" class="sign_btn log_btn">English</a> </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="header_botom">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-dark">
                  <a class="navbar-brand" routerLink="/"><span class="wit-pic wit-primary-logo"><img src="assets/images/logo-white.png" alt="logo" /></span><span class="blu-pic blu-primary-logo"><img src="assets/images/logo-blue.png" alt="logo" /></span></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="main_nav">
                     <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" routerLink="/">  Home </a></li>

                        <li class="nav-item dropdown">
                           <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  
                           Products   </a>
                           <div class="dropdown-menu dropdown-large">
                              <div class="row g-3">
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li><a href="#">Overview </a></li>
                                       <li><a routerLink="/ferro-chrome">Ferro Chrome</a></li>
                                       <li><a href="search-result.html">Chrome Ore</a></li>
                                    </ul>
                                 </div>
                                 <!-- end col-3 -->
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li>
                                          <img src="assets/images/about-us-dropdown.jpg">
                                       </li>
                                    </ul>
                                    <h6 class="title">Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</h6>
                                 </div>
                                 <!-- end col-3 -->
                              </div>
                              <!-- end row -->
                           </div>
                           <!-- dropdown-large.// -->
                        </li>
                        
                        <li class="nav-item dropdown">
                           <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  
                            My Account   </a>
                           <div class="dropdown-menu dropdown-large">
                              <div class="row g-3">
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li><a >Profile </a></li>
                                       <li><a routerLink="/my-cart">My Cart</a></li>
                                       <li><a routerLink="/login">Logout</a></li>
                                    </ul>
                                 </div>
                                 <!-- end col-3 -->
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li>
                                          <img src="assets/images/about-us-dropdown.jpg">
                                       </li>
                                    </ul>
                                    <h6 class="title">Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</h6>
                                 </div>
                                 <!-- end col-3 -->
                              </div>
                              <!-- end row -->
                           </div>
                           <!-- dropdown-large.// -->
                        </li>
                        
                        <li class="nav-item"><a class="nav-link" routerLink="/register"> Register </a></li>
                     </ul>
                  </div>
                  <!-- navbar-collapse.// -->
                  <div class="hedbt">
                     <a href="search-service-request.html" class="sebtn"><span class="wit-pic"><img src="assets/images/magnifiying-white.png"></span><span class="blu-pic"><img src="assets/images/magnifiying-black.png"></span></a>
                     <span class="wit-pic wit-secondary-logo"><img src="assets/images/secondary-white.png"></span><span class="blu-pic blu-secondary-logo"><img src="assets/images/secondary-blue.png"></span>
                  </div>
               </nav>
            </div>
         </div>
      </header>
      <div class="page-content">
         <section class="sub-header">
            <h1>Tata Indicrome – High Carbon Ferro Chrome. Quality, convenience, trust. Unmatched.</h1>
            <ul>
               <li><a href="#"><img src="assets/images/home.png"></a></li>
               <li><a href="#">/  Products and Customers</a></li>
               <li>/  Ferro Chrome</li>
            </ul>
         </section>
         <section class="product-sec">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div id="thumbnails">
                        <!---<div class="thumbelina-but vert top"><i class="fa fa-angle-up"></i></div>-->
                        <ul>
                           <li>
                              <a href="images/1.jpg" title="View">
                              <img class="cloudzoom-gallery cloudzoom-gallery-active"
                                 src="assets/images/1.jpg"
                                 alt="thumbnail"
                                 data-cloudzoom="
                                 useZoom:'.cloudzoom',
                                 image:'images/1.jpg'
                                 ">
                              </a>
                           </li>
                           <li>
                              <a href="images/2.jpg" title="View">
                              <img class="cloudzoom-gallery"
                                 src="assets/images/2.jpg"
                                 alt="thumbnail"
                                 data-cloudzoom="
                                 useZoom:'.cloudzoom',
                                 image:'images/2.jpg'
                                 ">
                              </a>
                           </li>
                           <li>
                              <a href="images/3.jpg" title="View">
                              <img class="cloudzoom-gallery"
                                 src="assets/images/3.jpg"
                                 alt="thumbnail"
                                 data-cloudzoom="
                                 useZoom:'.cloudzoom',
                                 image:'images/3.jpg'
                                 ">
                              </a>
                           </li>
                        </ul>
                        <!--<div class="thumbelina-but vert bottom"><i class="fa fa-angle-down"></i></div>-->
                     </div>
                     <div id="product-image">
                        <a href="images/1.jpg">
                        <img class="cloudzoom"
                           src="assets/images/1.jpg"
                           alt=""
                           data-cloudzoom="
                           zoomPosition:'inside',
                           zoomOffsetX:0,
                           zoomFlyOut:false,
                           variableMagnification:false,
                           disableZoom:'auto',
                           touchStartDelay:100,
                           propagateGalleryEvent:true
                           ">
                        </a>
                     </div>
                     <div id="zoom-overlay">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="pro-descriptipn">
                        <div class="prod-top">
                           <h3>Tata Indicrome</h3>
                           <h4 class="pro-in">High Carbon Ferro Chrome - High Phos</h4>
                           <div class="sort-desc">
                              <h2>Short Description</h2>
                              <p>Ranked among the top-seven global chrome alloy producers, 
                                 we are the leading manufacturers of High Carbon Ferro 
                                 Chrome in India. We produce various grades of Ferro Chrome
                              </p>
                           </div>
                           <div class="size-off">
                              <h2>Sizes offered</h2>
                              <ul>
                                 <li class="siz-act"><a href="#">10-50</a></li>
                                 <li><a href="#">10-70</a></li>
                                 <li><a href="#">10-100</a></li>
                                 <li><a href="#">10-150</a></li>
                                 <li><span>mm</span></li>
                              </ul>
                           </div>
                           <div class="qty-sec">
                              <div class="row">
                                 <div class="col-lg-6 col-md-12 col-sm-6">
                                    <div class="form-group">
                                       <label for="">Quantity (mt)</label>
                                       <input type="number" class="form-control" id="" placeholder="150">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-12 col-sm-6">
                                    <div class="form-group">
                                       <label for="">Proposed Delivery Date</label>
                                       <div class="position-relative">
                                          <input type="text" class="form-control" id="datepicker" placeholder="Date">
                                          <span class="over_llp"><img src="assets/images/cal.png" alt=""></span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="crt-btn">
                              <a href="cart.html" class="add-to-cart">
                              add to cart
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="detail-product-desc">
                        <h2>Technical Specification of Product</h2>
                        <div class="clearfix"></div>
                        <p>Cr - 60% Min, C - 6-8%, Phos - 0.05% Max, S - 0.05% Max, Si - 4% Max</p>
                        <p><b>Sizes offered :</b> 10-50, 10-70, 10-100, 10-150 mm</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <footer class="footer footer-v1 footer-v2">
         <div class="content-block footer-main">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="footer-logo">
                        <img src="https://www.tatasteelmining.com/themes/custom/tsml/images/logos/logo-white.png" class="img-fluid" alt="image-description">
                     </div>
                     <div class="footer_content">
                        <p>Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</p>
                        <ul class="footer_social">
                           <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                     <h2>About Us</h2>
                     <ul class="clearfixnav">
                        <li class="navitem">
                           <a href="">Disclaimer</a>
                        </li>
                        <li class="navitem">
                           <a href="">Cookie Policy</a>
                        </li>
                        <li class="navitem">
                           <a href="">Privacy Policy</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <h2>Products & Customers</h2>
                     <ul class="clearfix-nav">
                        <li class="navitem">
                           <a href="">Overview</a>
                        </li>
                        <li class="navitem">
                           <a href="">Chrome Ore</a>
                        </li>
                        <li class="navitem">
                           <a href="">Ferro Chrome</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-2 col-md-4">
                     <h2>Contact</h2>
                     <ul class="clearfixnav">
                        <li class="navitem">
                           <a href="/contact-us">Contact Us</a>
                        </li>
                        <li class="navitem">
                           <a href="">Linkedin</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="footer-bottom">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div id="block-footercopyright">
                           <div class="content">
                              <div class="text-center">
                                 <p>© 2021 Tata Steel Mining Limited. All Rights Reserved.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="foot_arw">
         <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
      </div>
   </body>
</html>
